# Pregunta 1

In [1]:
import sqlite3 
connection = sqlite3.connect('data.db')  
cursor = connection.cursor()
# Se definen las tablas de la base de datos
# Tabla Markets: sku, name                    
cursor.execute("CREATE TABLE Markets(sku INTEGER, name TEXT, PRIMARY KEY(sku))")
# Tabla Products: sku, ean, name
cursor.execute("CREATE TABLE Products(sku INTEGER, ean INTEGER, name TEXT, UNIQUE(sku, ean), PRIMARY KEY(sku, ean), FOREIGN KEY(sku) REFERENCES Markets(sku))")
# Tabla Prices: sku, ean, normal_price, discount_price, active, create_date
cursor.execute("CREATE TABLE Prices(sku INTEGER, ean INTEGER, normal_price REAL, discount_price REAL, active BOOLEAN, create_date DATE, FOREIGN KEY(sku) REFERENCES Markets(sku), FOREIGN KEY(ean) REFERENCES Products(ean))")

# Se insertan los datos de prueba

# Markets: Ripley, Paris, Falabella
cursor.execute("INSERT INTO Markets VALUES(1, 'Ripley')")
cursor.execute("INSERT INTO Markets VALUES(2, 'Paris')")
cursor.execute("INSERT INTO Markets VALUES(3, 'Falabella')")
# Products para Ripley
cursor.execute("INSERT INTO Products VALUES(1, 1, 'Polera Nike')")
cursor.execute("INSERT INTO Products VALUES(1, 2, 'Pantalon Levi')")
cursor.execute("INSERT INTO Products VALUES(1, 3, 'Notebook Acer')")
cursor.execute("INSERT INTO Products VALUES(1, 4, 'Polera Adidas')")
# Products para Paris
cursor.execute("INSERT INTO Products VALUES(2, 1, 'Polera Nike')")
cursor.execute("INSERT INTO Products VALUES(2, 2, 'Pantalon Levi')")
cursor.execute("INSERT INTO Products VALUES(2, 3, 'Notebook Acer')")
cursor.execute("INSERT INTO Products VALUES(2, 5, 'Zapatillas Puma')")
# Products para Falabella
cursor.execute("INSERT INTO Products VALUES(3, 1, 'Polera Nike')")
cursor.execute("INSERT INTO Products VALUES(3, 2, 'Pantalon Levi')")
cursor.execute("INSERT INTO Products VALUES(3, 3, 'Notebook Acer')")
cursor.execute("INSERT INTO Products VALUES(3, 6, 'Reloj Casio')")
# Prices para Ripley
cursor.execute("INSERT INTO Prices VALUES(1, 1, 15000, 13000, 0, '2023-12-10')")
cursor.execute("INSERT INTO Prices VALUES(1, 1, 18000, 16000, 1, '2023-12-11')")
cursor.execute("INSERT INTO Prices VALUES(1, 1, 20000, 18000, 1, '2023-12-12')")

cursor.execute("INSERT INTO Prices VALUES(1, 2, 10000, 9000, 0, '2023-12-01')")
cursor.execute("INSERT INTO Prices VALUES(1, 2, 12000, 10000, 1, '2023-12-02')")
cursor.execute("INSERT INTO Prices VALUES(1, 2, 15000, 13000, 1, '2023-12-03')")

cursor.execute("INSERT INTO Prices VALUES(1, 3, 500000, 450000, 0, '2023-12-01')")
cursor.execute("INSERT INTO Prices VALUES(1, 3, 550000, 500000, 1, '2023-12-02')")
cursor.execute("INSERT INTO Prices VALUES(1, 3, 600000, 550000, 1, '2023-12-03')")

cursor.execute("INSERT INTO Prices VALUES(1, 4, 15000, 13000, 0, '2023-12-01')")
cursor.execute("INSERT INTO Prices VALUES(1, 4, 18000, 16000, 1, '2023-12-02')")
cursor.execute("INSERT INTO Prices VALUES(1, 4, 20000, 18000, 1, '2023-12-03')")

# Prices para Paris
cursor.execute("INSERT INTO Prices VALUES(2, 1, 19000, 18500, 0, '2023-12-03')")
cursor.execute("INSERT INTO Prices VALUES(2, 1, 20000, 19500, 1, '2023-12-04')")
cursor.execute("INSERT INTO Prices VALUES(2, 1, 21000, 20500, 1, '2023-12-05')")

cursor.execute("INSERT INTO Prices VALUES(2, 2, 11000, 10500, 0, '2023-12-08')")
cursor.execute("INSERT INTO Prices VALUES(2, 2, 12000, 11500, 1, '2023-12-09')")
cursor.execute("INSERT INTO Prices VALUES(2, 2, 13000, 12500, 1, '2023-12-13')")

cursor.execute("INSERT INTO Prices VALUES(2, 3, 510000, 505000, 0, '2023-12-01')")
cursor.execute("INSERT INTO Prices VALUES(2, 3, 520000, 515000, 1, '2023-12-02')")
cursor.execute("INSERT INTO Prices VALUES(2, 3, 530000, 525000, 1, '2023-12-03')")

cursor.execute("INSERT INTO Prices VALUES(2, 5, 10000, 9500, 0, '2023-12-01')")
cursor.execute("INSERT INTO Prices VALUES(2, 5, 11000, 10500, 1, '2023-12-02')")
cursor.execute("INSERT INTO Prices VALUES(2, 5, 12000, 11500, 1, '2023-12-03')")

# Prices para Falabella
cursor.execute("INSERT INTO Prices VALUES(3, 1, 18000, 17500, 0, '2023-12-03')")
cursor.execute("INSERT INTO Prices VALUES(3, 1, 19000, 18500, 1, '2023-12-04')")
cursor.execute("INSERT INTO Prices VALUES(3, 1, 20000, 19500, 1, '2023-12-05')")

cursor.execute("INSERT INTO Prices VALUES(3, 2, 10000, 9500, 0, '2023-12-08')")
cursor.execute("INSERT INTO Prices VALUES(3, 2, 11000, 10500, 1, '2023-12-09')")
cursor.execute("INSERT INTO Prices VALUES(3, 2, 12000, 11500, 1, '2023-12-13')")

cursor.execute("INSERT INTO Prices VALUES(3, 3, 500000, 495000, 0, '2023-12-01')")
cursor.execute("INSERT INTO Prices VALUES(3, 3, 510000, 505000, 1, '2023-12-02')")
cursor.execute("INSERT INTO Prices VALUES(3, 3, 520000, 515000, 1, '2023-12-03')")

cursor.execute("INSERT INTO Prices VALUES(3, 6, 100000, 95000, 0, '2023-12-01')")
cursor.execute("INSERT INTO Prices VALUES(3, 6, 110000, 105000, 1, '2023-12-02')")
cursor.execute("INSERT INTO Prices VALUES(3, 6, 120000, 115000, 1, '2023-12-03')")

# Se guardan los cambios
connection.commit()
# Se cierra la conexión
connection.close()

In [2]:
# Le da más prioridad al precio más bajo y si hay dos precios iguales, se queda con el más reciente
connection = sqlite3.connect('data.db')
cursor = connection.cursor()
cursor.execute("""
    WITH ActivePricesSorted 
    AS 
    (SELECT sku, ean, normal_price, create_date,
    ROW_NUMBER() OVER (PARTITION BY sku, ean ORDER BY normal_price ASC, create_date DESC) AS rank_price
    FROM Prices 
    WHERE active = 1) 
    SELECT ActivePricesSorted.sku, ActivePricesSorted.ean, Markets.name, Products.name, ActivePricesSorted.normal_price 
    FROM Markets, Products, ActivePricesSorted 
    WHERE Markets.sku = Products.sku AND Products.ean = ActivePricesSorted.ean AND ActivePricesSorted.sku = Products.sku AND ActivePricesSorted.rank_price = 1
    ORDER BY ActivePricesSorted.ean ASC;""")
# Guardo los datos en una variable para la Pregunta 3
data = cursor.fetchall()
# Se cierra la conexión
connection.close()

# Pregunta 2

Un proceso que debiese ser realizado cada cierto tiempo es el de la actualización de los precios en la base de datos, para ser más conciso me refiero a los datos de la tabla `Prices`. Esto debido a que se asume que los precios serán obtenidos desde fuentes externas y estas pueden cambiar frecuentemente. Para llevar a cabo el proceso se asumirá que la información de los precios se puede obtener de alguna de las siguientes 3 formas:

- Una API que entrega los datos en formato JSON.
- Un archivo Excel.
- Realizando un web scraping a una página web.

La manera de llevar a cabo el proceso dependerá de la forma en que se obtengan los datos. En el caso de la API, solo sería necesario enviar solicitudes a la API cada cierto tiempo y actualizar la base de datos de acuerdo a esta información, para ello puede valerse de alguna librería para realizar requests y funciones que permiten establecer un tiempo de espera entre cada solicitud, por ejemplo usando Node.js podría usarse la librería `axios` y la función `setTimeout`. Para el caso del archivo Excel, se puede abrir el archivo y leer los datos, usando Python se haría con `with` y `open`, se recorrería la información y se actualizaría en consecuencia. Por último para el caso del web scraping, usando Python se puede realizar con librerías como `BeautifulSoup` o `Scrapy`, se puede obtener la información de la página web y actualizar la base de datos.

# Pregunta 3

## a)

In [3]:
def group_by_ean(data):
    ean_dict = dict()
    for element in data:
        if element[1] not in ean_dict:
            ean_dict[element[1]] = dict()
            ean_dict[element[1]]["Ean"] = element[3]
            ean_dict[element[1]]["data"] = list()
            ean_dict[element[1]]["data"].append(element)
            ean_dict[element[1]]["nMarkets"] = 1
            ean_dict[element[1]]["maxPrice"] = element[4]
            ean_dict[element[1]]["minPrice"] = element[4]
            ean_dict[element[1]]["priceRange"] = f"({ean_dict[element[1]]['maxPrice']} - {ean_dict[element[1]]['minPrice']})"
        else:
            ean_dict[element[1]]["data"].append(element)
            ean_dict[element[1]]["nMarkets"] += 1
            if element[4] > ean_dict[element[1]]["maxPrice"]:
                ean_dict[element[1]]["maxPrice"] = element[4]
            if element[4] < ean_dict[element[1]]["minPrice"]:
                ean_dict[element[1]]["minPrice"] = element[4]
            ean_dict[element[1]]["priceRange"] = f"({ean_dict[element[1]]['maxPrice']} - {ean_dict[element[1]]['minPrice']})"
    # Se crea una lista con los datos de los productos de acuerdo a lo solicitado en el enunciado
    ean_list = list()
    for key in ean_dict:
        ean_list.append(ean_dict[key])
    # Se retorna la lista
    return ean_list

# Se llama a la función group_by_ean con los datos de la consulta
ean_list = group_by_ean(data)
# Se imprime la lista de productos con los datos solicitados
print(ean_list)
# Se muestran los datos de la lista con salto de línea
print(*ean_list, sep='\n')

[{'Ean': 'Polera Nike', 'data': [(1, 1, 'Ripley', 'Polera Nike', 18000.0), (2, 1, 'Paris', 'Polera Nike', 20000.0), (3, 1, 'Falabella', 'Polera Nike', 19000.0)], 'nMarkets': 3, 'maxPrice': 20000.0, 'minPrice': 18000.0, 'priceRange': '(20000.0 - 18000.0)'}, {'Ean': 'Pantalon Levi', 'data': [(1, 2, 'Ripley', 'Pantalon Levi', 12000.0), (2, 2, 'Paris', 'Pantalon Levi', 12000.0), (3, 2, 'Falabella', 'Pantalon Levi', 11000.0)], 'nMarkets': 3, 'maxPrice': 12000.0, 'minPrice': 11000.0, 'priceRange': '(12000.0 - 11000.0)'}, {'Ean': 'Notebook Acer', 'data': [(1, 3, 'Ripley', 'Notebook Acer', 550000.0), (2, 3, 'Paris', 'Notebook Acer', 520000.0), (3, 3, 'Falabella', 'Notebook Acer', 510000.0)], 'nMarkets': 3, 'maxPrice': 550000.0, 'minPrice': 510000.0, 'priceRange': '(550000.0 - 510000.0)'}, {'Ean': 'Polera Adidas', 'data': [(1, 4, 'Ripley', 'Polera Adidas', 18000.0)], 'nMarkets': 1, 'maxPrice': 18000.0, 'minPrice': 18000.0, 'priceRange': '(18000.0 - 18000.0)'}, {'Ean': 'Zapatillas Puma', 'data': [(2, 5, 'Paris', 'Zapatillas Puma', 11000.0)], 'nMarkets': 1, 'maxPrice': 11000.0, 'minPrice': 11000.0, 'priceRange': '(11000.0 - 11000.0)'}, {'Ean': 'Reloj Casio', 'data': [(3, 6, 'Falabella', 'Reloj Casio', 110000.0)], 'nMarkets': 1, 'maxPrice': 110000.0, 'minPrice': 110000.0, 'priceRange': '(110000.0 - 110000.0)'}]
{'Ean': 'Polera Nike', 'data': [(1, 1, 'Ripley', 'Polera Nike', 18000.0), (2, 1, 'Paris', 'Polera Nike', 20000.0), (3, 1, 'Falabella', 'Polera Nike', 19000.0)], 'nMarkets': 3, 'maxPrice': 20000.0, 'minPrice': 18000.0, 'priceRange': '(20000.0 - 18000.0)'}
{'Ean': 'Pantalon Levi', 'data': [(1, 2, 'Ripley', 'Pantalon Levi', 12000.0), (2, 2, 'Paris', 'Pantalon Levi', 12000.0), (3, 2, 'Falabella', 'Pantalon Levi', 11000.0)], 'nMarkets': 3, 'maxPrice': 12000.0, 'minPrice': 11000.0, 'priceRange': '(12000.0 - 11000.0)'}
{'Ean': 'Notebook Acer', 'data': [(1, 3, 'Ripley', 'Notebook Acer', 550000.0), (2, 3, 'Paris', 'Notebook Acer', 520000.0), (3, 3, 'Falabella', 'Notebook Acer', 510000.0)], 'nMarkets': 3, 'maxPrice': 550000.0, 'minPrice': 510000.0, 'priceRange': '(550000.0 - 510000.0)'}
{'Ean': 'Polera Adidas', 'data': [(1, 4, 'Ripley', 'Polera Adidas', 18000.0)], 'nMarkets': 1, 'maxPrice': 18000.0, 'minPrice': 18000.0, 'priceRange': '(18000.0 - 18000.0)'}
{'Ean': 'Zapatillas Puma', 'data': [(2, 5, 'Paris', 'Zapatillas Puma', 11000.0)], 'nMarkets': 1, 'maxPrice': 11000.0, 'minPrice': 11000.0, 'priceRange': '(11000.0 - 11000.0)'}
{'Ean': 'Reloj Casio', 'data': [(3, 6, 'Falabella', 'Reloj Casio', 110000.0)], 'nMarkets': 1, 'maxPrice': 110000.0, 'minPrice': 110000.0, 'priceRange': '(110000.0 - 110000.0)'}